---
// Component Imports
import NewChat from '../components/NewChat.vue';
import Head from '../components/Head.vue';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html class="dark" style="color-scheme: dark;">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/NewChat.css" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<main style="height: 100%">
			<Head client:only="vue" ></Head>
			<NewChat client:visible></NewChat>
		</main>
	</body>
</html>


<script is:inline >
	const theme = (() => {
		if(typeof localStorage !== 'undefined' && localStorage.getItem('theme')){
			return localStorage.getItem('theme')
		}
		if(window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark'
		}
		return 'light'
	})()
	
	if(theme === 'light'){
		document.documentElement.classList.remove('dark')
	} else {
		document.documentElement.classList.add('dark')
	}
</script>